name: Terraform - Landing Zone

on:
  push:
    branches: [main]
    paths:
      - "landing-zone/**"
  pull_request:
    branches: [main]
    paths:
      - "landing-zone/**"

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  landing-zone:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./landing-zone

    env:
      AWS_REGION: us-east-1
      TF_VAR_log_archive_email: ${{ secrets.TF_VAR_log_archive_email }}
      TF_VAR_audit_email: ${{ secrets.TF_VAR_audit_email }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::495013528126:role/GithubTerraformLandingZoneRole
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Plan
        run: terraform plan -input=false

      - name: Terraform Apply
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: terraform apply -input=false -auto-approve
